<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.icadmin.mapper.EnquiriesMapper">
  <resultMap id="BaseResultMap" type="com.ic.icadmin.entity.EnquiriesEntity">
    <!--@mbg.generated-->
    <!--@Table enquiries-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="interest" jdbcType="VARCHAR" property="interest" />
    <result column="suburb" jdbcType="VARCHAR" property="suburb" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="broker" jdbcType="VARCHAR" property="broker" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, "name", message, email, created_at, updated_at, phone, interest, suburb, "state", 
    del_flag, broker
  </sql>
</mapper>