<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.icadmin.mapper.LoanItemsMapper">
  <resultMap id="BaseResultMap" type="com.ic.icadmin.entity.LoanItemsEntity">
    <!--@mbg.generated-->
    <!--@Table loan_items-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="project_date" jdbcType="DATE" property="projectDate" />
    <result column="loan_status" jdbcType="INTEGER" property="loanStatus" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, address, project_date, loan_status, description, "value", created_at, updated_at, del_flag
  </sql>
</mapper>