<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bhg.bhgadmin.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.bhg.bhgadmin.entity.NewsEntity">
    <!--@mbg.generated-->
    <!--@Table news-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="publish_date" jdbcType="DATE" property="publishDate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="main_pic" jdbcType="VARCHAR" property="mainPic" />
    <result column="show_to_web" jdbcType="BOOLEAN" property="showToWeb" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="news_type" jdbcType="INTEGER" property="newsType" />
    <result column="language" jdbcType="INTEGER" property="language" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, publish_date, title, content, main_pic, show_to_web, created_at, updated_at, 
    news_type, "language", del_flag
  </sql>
  <select id="queryNewsNames" resultType="com.bhg.bhgadmin.dto.response.newsImgs.NewsNamesResponse">
    select id, title as newsTitle from news where del_flag = false order by id desc
  </select>
</mapper>