<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.icadmin.mapper.AuthPermissionMapper">
  <resultMap id="BaseResultMap" type="com.ic.icadmin.entity.AuthPermissionEntity">
    <!--@mbg.generated-->
    <!--@Table auth_permission-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="active_flag" jdbcType="BOOLEAN" property="activeFlag" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
    <result column="permission_level" jdbcType="INTEGER" property="permissionLevel" />
    <result column="upper_permission_id" jdbcType="BIGINT" property="upperPermissionId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, permission_name, active_flag, del_flag, create_by, create_time, update_by, update_time, 
    permission_code, permission_level, upper_permission_id
  </sql>
  <select id="queryPermsByRoleId" resultType="com.ic.icadmin.dto.biz.BizPermissionsDTO">
    SELECT ap.id, ap.permission_name, ap.permission_code, ap.upper_permission_id, ap.permission_level FROM auth_permission ap LEFT JOIN
    auth_permission_role apr
    on ap.id = apr.permission_id
    where apr.role_id = #{roleId,jdbcType=BIGINT}
    and ap.active_flag = true and ap.del_flag = false
    order by ap.id
  </select>

  <select id="querySubPermission" resultType="java.lang.String">
    SELECT ap.permission_code from auth_permission ap left outer join auth_permission_role apr on ap.id = apr.permission_id
    where apr.role_id = #{roleId} and ap.upper_permission_id = (select id from auth_permission
    where permission_name = #{parentPermission} and del_flag = false)
  </select>
</mapper>