<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.icadmin.mapper.NewsImgsMapper">
  <resultMap id="BaseResultMap" type="com.ic.icadmin.entity.NewsImgsEntity">
    <!--@mbg.generated-->
    <!--@Table news_imgs-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="news_id" jdbcType="BIGINT" property="newsId" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, img, news_id, display_order, created_at, updated_at, del_flag
  </sql>
  <select id="queryNewsImgs" parameterType="java.lang.Long"
          resultType="com.ic.icadmin.dto.response.newsImgs.NewsImgsResponse">
    select ni.id, ni.news_id as newsId, n.title as newsTitle, ni.display_order, ni.img
    from news_imgs ni left join news n on n.id = ni.news_id
    where <if test="newsId != null">
    ni.news_id = #{newsId} and
    </if>
    ni.del_flag = false and n.del_flag = false
    order by ni.id desc, ni.display_order desc
  </select>
  <select id="queryNewsImgById" parameterType="java.lang.Long"
          resultType="com.ic.icadmin.dto.response.newsImgs.NewsImgDetailResponse">
    select ni.id, ni.news_id as newsId, n.title as newsTitle, ni.display_order, ni.img
    from news_imgs ni left join news n on n.id = ni.news_id
    where ni.id = #{id} and ni.del_flag = false
  </select>
  <select id="queryExportData" parameterType="java.lang.Long"
          resultType="com.ic.icadmin.dto.response.newsImgs.NewsImgsExportDTO">
    select ni.id, n.title as newsTitle, ni.display_order, ni.img, ni.created_at, ni.updated_at
    from news_imgs ni left join news n on n.id = ni.news_id
    where <if test="newsId != null">
    ni.news_id = #{newsId} and
    </if>
    ni.del_flag = false and n.del_flag = false
    order by ni.id desc, ni.display_order desc
  </select>
  <select id="queryNewsImgsUrls" parameterType="java.lang.Long"
          resultType="com.ic.icadmin.dto.response.news.NewsImgsUrl">
    select id, img from news_imgs where news_id = #{newsId} and del_flag = false
    order by display_order desc
  </select>
</mapper>