<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.icadmin.mapper.OperateLogMapper">
    <sql id="tableName">
        operate_log
    </sql>

    <sql id="baseColumn">
        id,type,content,entity_id,created_at,creator,creator_name
    </sql>

</mapper>