.app-container {
    padding: 20px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--v3-body-bg-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
        sans-serif;
}



*{
    margin: 0;
    padding: 0;
}

#app {
    height: 100%;
    background: #F7F9FB;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a:focus,
a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
}

div:focus {
    outline: none;
}

// .login-container img {
//     width: auto;
//     height: auto;
//     max-width: 600px; /* 或者更大 */
//     object-fit: contain;
// }


.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.table-name {
    color: $web-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
}

.pointer{
    cursor: pointer;
}

.pop-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 30px;
    border-bottom: 1px solid #DEDEDE;

    .title {
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        padding-bottom: 10px;
    }

    .sub-title{
        color: #8E8EA1;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
    }
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
    }

    .item:hover {
        color: $web-color;
    }

    .item+.item {
        padding-top: 12px;
    }
}

.form{
    max-width: 960px;
}

.width-200{
    width: 200px !important;
}

.down-area{
    display: flex;
    align-items: center;
    font-size: 12px;

    .download-link {
            color: #38678b;
            text-decoration: underline;
            cursor: pointer;
            margin-left: 3px;
    }
}

.color-web {
    color: $web-color !important;
}

.color-web-bg {
    background: $web-color !important;
}

.table-sell-style {
    background: $web-color !important;
    color: #fff !important;
}